body {
    background-color: #4269f5;
    color: #e0dada;
    font-size: 3vw;
}

#image {
    display: block;
    max-width: 100%;
    height: auto;
    background-color: white;
    padding: 5%;
}

img {
    padding: 2%;
    box-sizing: border-box;
    margin: auto;
}

#img-caption {
    text-align: center;
}

#title,
.sub-title {
    text-align: center;
}

a {
    color: black;
}

#tribute-info h2,
#tribute-info h3 {
    text-align: center;
}

ul {
    list-style-position: inside;
    padding: 0;
    margin: 0 auto;
    display: table;
}