html, body {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

#welcome-section {
  height: 92vh;
  width: 100%;
  padding-top: 8vh;
  background-color: black;
  background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%); 
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#welcome-section > h1 {
    flex: 0 0 auto;
    text-align: center;
    color: white;
    font-size: 3rem;
}

#welcome-section > p {
    flex: 0 0 auto;
    text-align: center;
    color: aquamarine;
    font-size: 1.5rem;
}

#navbar {
  position: fixed;
  width: 100%;
  height: 8vh;
  top: 0;
  left: 0;
  background-color: aquamarine;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-radius: 1vh;
}

#navbar a {
  height: 100%;
  padding: 0 1rem;
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
  display: flex;
  align-items: center;
  border-radius: 1vh;
}

#navbar a:hover {
  background-color: grey;
  font-weight: bold;
}

#projects {
  height: 92vh;
  width: 100%;
  padding-top: 8vh;
  background: linear-gradient(135deg, #013A63, #1C6758, #5CB4B5);
  color: aquamarine;
  text-align: center;
}

.projects-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.booking-bot,
.freecodecamp {
  width: 200px;
  height: 120px;
  text-align: center;
  text-decoration: none;
  color: aquamarine;
  font-size: 22px;
}

.booking_bot_picture,
.freecodecamp_logo {
  width: 100%;
  height: 100%;
}

#contact-me {
  height: 92vh;
  width: 100%;
  padding-top: 8vh;
}

#github-profile-link {
  font-size: 22px;
  text-decoration: none;
  color: black;
  display: inline-block;
  transition: transform 0.6s ease;
}

#github-profile-link:hover {
  transform: translateY(10px);
}
