html, body {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

#welcome-section {
  height: 92vh;
  width: 100%;
  padding-top: 8vh;
  background-color: black;
  background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%); 
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#welcome-section > h1 {
    flex: 0 0 auto;
    text-align: center;
    color: white;
    font-size: 3rem;
}

#welcome-section > p {
    flex: 0 0 auto;
    text-align: center;
    color: aquamarine;
    font-size: 1.5rem;
}

#navbar {
  position: fixed;
  width: 100%;
  height: 8vh;
  top: 0;
  left: 0;
  background-color: aquamarine;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-radius: 1vh;
}

#navbar a {
  height: 100%;
  padding: 0 1rem;
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
  display: flex;
  align-items: center;
  border-radius: 1vh;
}

#navbar a:hover {
  background-color: grey;
  font-weight: bold;
}

#projects {
  height: 92vh;
  width: 100%;
  padding-top: 8vh;
  background: linear-gradient(135deg, #013A63, #1C6758, #5CB4B5);
  color: aquamarine;
  text-align: center;
}

.projects-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding-top: 100px;
  padding-left: 300px;
}

.booking-bot,
.freecodecamp {
  width: 340px;
  height: 210px;
  text-align: center;
  text-decoration: none;
  color: aquamarine;
  font-size: 30px;
}

.booking_bot_picture,
.freecodecamp_logo {
  width: 100%;
  height: 100%;
}

#contact-me {
  height: 92vh;
  width: 100%;
  padding-top: 8vh;
  background-color: black;
  background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%); 
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#contact-me > h1 {
    font-size: 3rem; 
    color: white;
}

.links {
    text-align: center;
}

#github-profile-link, #mail-link, #phone-link, #linkedIn-profile-link {
  font-size: 1.5rem;
  text-decoration: none;
  color: white;
  display: inline-block;
  transition: transform 0.6s ease;
  padding: 5px;
}

#github-profile-link:hover, #mail-link:hover, #phone-link:hover, #linkedIn-profile-link:hover {
  transform: translateY(10px);
}
