#welcome-section {
    height: 92vh;
    width: 100%;
    padding-top: 8vh;
}

#navbar {
    position: fixed;
    width: 100%;
    height: 8vh;
    top: 0;
    left: 0;
    background-color: aquamarine;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#navbar a {
    height: 100%;
    padding: 0 1rem;
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
}

#navbar a:hover {
    background-color: grey;
    font-weight: bold;
}

#projects {
    height: 92vh;
    width: 100%;
    padding-top: 8vh;
}

#contact-me {
    height: 92vh;
    width: 100%;
    padding-top: 8vh;
}