html {
  scroll-behavior: smooth;
}

#welcome-section {
  height: 92vh;
  width: 100%;
  padding-top: 8vh;
}

#navbar {
  position: fixed;
  width: 100%;
  height: 8vh;
  top: 0;
  left: 0;
  background-color: aquamarine;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#navbar a {
  height: 100%;
  padding: 0 1rem;
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
  display: flex;
  align-items: center;
}

#navbar a:hover {
  background-color: grey;
  font-weight: bold;
}

#projects {
  height: 92vh;
  width: 100%;
  padding-top: 8vh;
  background-color: lightblue;
}

.projects-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.booking-bot,
.freecodecamp {
  width: 200px;
  height: 120px;
  text-align: center;
  background-color: gray;
  text-decoration: none;
  color: black;
  font-size: 22px;
}

.booking_bot_picture,
.freecodecamp_logo {
  width: 100%;
  height: 100%;
}

#contact-me {
  height: 92vh;
  width: 100%;
  padding-top: 8vh;
}

#github-profile-link {
  font-size: 22px;
  text-decoration: none;
  color: black;
  display: inline-block;
  transition: transform 0.6s ease;
}

#github-profile-link:hover {
  transform: translateY(10px);
}
