#header-img {
    width: 20%;
    height: auto;
}

#video {
    width: 560px;
    height: 315px;
}

@media (max-width: 900px) and (min-width: 100px) {
    #video {
        width: 360px;
        height: 215px;
    }
}

#nav-bar {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 1rem 0;
}

main {
    padding-top: 3rem;
}